<br>
<div class="container-fluid">
    <h2 class="bg-danger-subtle ">期限切れのタスク一覧</h2>

    <ng-template #expiredSpaces>
        <div class="alert alert-secondary text-center" role="alert">
            <p class="lead mb-0">期限切れのタスクはありません。</p>
        </div>
    </ng-template>

    <div *ngIf="expiredNotification.length > 0; else expiredSpaces" class="row row-cols-12 g-4">
        <div *ngFor="let todo of expiredNotification; let i = index" class="col-md-3 col-sm-6 col-12">
            <div class="card h-100 shadow-hover border-5 border-danger-subtle">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-danger">
                        <a (click)="goTodo()" class="text-danger text-decoration-none stretched-link fw-bold">
                            <i class="fa-solid fa-triangle-exclamation"></i>{{ todo.text }}<i class="fa-solid fa-triangle-exclamation"></i> 
                        </a>
                    </h5>
                <p class="card-text text-muted flex-grow-1"> 期日：{{ todo.end_date }} </p>
                <p class="card-text text-muted flex-grow-1"> 担当者：{{ todo.assignee }} </p>
                <p class="card-text text-muted flex-grow-1"> ステータス：{{ todo.status }} </p>
                <p class="card-text text-muted flex-grow-1"> 優先度：{{ todo.priority }} </p>
                <p class="card-text text-muted flex-grow-1"> 進捗：{{ todo.progress }}％ </p>
                <p class="card-text text-danger flex-grow-1"> <i class="fa-solid fa-triangle-exclamation"></i>
                    経過日数：{{ todo.expiredDays }}日 <i class="fa-solid fa-triangle-exclamation"></i>
                </p>
            </div>
        </div>
    </div>
</div>

<br>
    <h2 class="bg-warning-subtle ">今日が期限のタスク一覧</h2>

    <ng-template #notodaySpaces>
        <div class="alert alert-secondary text-center" role="alert">
            <p class="lead mb-0">今日が期限のタスクはありません。</p>
        </div>
    </ng-template>

    <div *ngIf="todayNotification.length > 0; else notodaySpaces" class="row row-cols-12 g-4">
        <div *ngFor="let todo of todayNotification; let i = index" class="col-md-3 col-sm-6 col-12">
            <div class="card h-100 shadow-hover border-5 border-warning">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-danger">
                        <a (click)="goTodo()" class="text-black text-decoration-none stretched-link fw-bold">
                            {{ todo.text }}
                        </a>
                    </h5>
                <p class="card-text text-muted flex-grow-1"> 期日：{{ todo.end_date }} </p>
                <p class="card-text text-muted flex-grow-1"> 担当者：{{ todo.assignee }} </p>
                <p class="card-text text-muted flex-grow-1"> ステータス：{{ todo.status }} </p>
                <p class="card-text text-muted flex-grow-1"> 優先度：{{ todo.priority }} </p>
                <p class="card-text text-muted flex-grow-1"> 進捗：{{ todo.progress }}％ </p>
            </div>
        </div>
    </div>
</div>

<br>
    <h2 class="bg-success-subtle ">１週間以内に期限がくるタスク一覧</h2>

    <ng-template #noweekSpaces>
        <div class="alert alert-secondary text-center" role="alert">
            <p class="lead mb-0">１週間以内に期限がくるタスクはありません。</p>
        </div>
    </ng-template>

    <div *ngIf="weekNotification.length > 0; else noweekSpaces" class="row row-cols-12 g-4">
        <div *ngFor="let todo of weekNotification; let i = index" class="col-md-3 col-sm-6 col-12">
            <div class="card h-100 shadow-hover border-5 border-success-subtle">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-success">
                        <a (click)="goTodo()" class="text-black text-decoration-none stretched-link fw-bold">
                            {{ todo.text }}
                        </a>
                    </h5>
                <p class="card-text text-muted flex-grow-1"> 期日：{{ todo.end_date }} </p>
                <p class="card-text text-muted flex-grow-1"> 担当者：{{ todo.assignee }} </p>
                <p class="card-text text-muted flex-grow-1"> ステータス：{{ todo.status }} </p>
                <p class="card-text text-muted flex-grow-1"> 優先度：{{ todo.priority }} </p>
                <p class="card-text text-muted flex-grow-1"> 進捗：{{ todo.progress }}％ </p>
                <p class="card-text text-muted flex-grow-1"> 残り日数：{{ todo.lastDays }}日 </p>
            </div>
        </div>
    </div>
</div>
<br>