<br>
<div class="container-fluid">
    <div class="row row-cols-12">
        <div class="card h-100 shadow-hover border-5 border-primary col-md-3">
            <a class="text-primary text-decoration-none fs-3 text-center" (click)="goTodo()">TO DO リスト</a>
        </div>
        <div class="card h-100 shadow-hover border-5 border-primary col-md-3">
            <a class="text-primary text-decoration-none fs-3 text-center" (click)="goGanttChart()">ガントチャート</a>
        </div>
        <div class="card h-100 shadow-hover border-5 border-primary col-md-3">
            <a class="text-primary text-decoration-none fs-3 text-center" (click)="goParentIShare()">情報共有スペース</a>
        </div>
        <!-- <div class="card shadow-hover border-5 border-primary col-md-3">
            <a class="text-primary text-decoration-none fs-3 text-center" (click)="goChat()">チャット</a>
        </div> -->
    </div>
</div>
<br>
<div class="container-fluid">
    <h2 class="bg-primary-subtle">プロジェクトメンバー</h2>
    <button class="btn border-primary mb-3" (click)="goMember()">メンバーの閲覧、追加、削除、プロジェクトの削除はこちらから</button>
</div>
<app-dashboad></app-dashboad>
<app-notification></app-notification>