<br>
<div class="container-fluid">
    <h3 class="bg-primary col-md-3">
        <a class="text-white" routerLink="/tasklist" [style.curosor]="'pointer'" routerLinkActive="active" 
        ariaCurrentWhenActive="page">TASK LIST</a>
    </h3>
    <h3 class="bg-primary col-md-3">
        <a class="text-white" routerLink="/todo" [style.curosor]="'pointer'" routerLinkActive="active" 
        ariaCurrentWhenActive="page">TO DO LIST</a>
    </h3>
    <h3 class="bg-primary col-md-3">
        <a class="text-white" routerLink="/gantt-chart" [style.curosor]="'pointer'" routerLinkActive="active" 
        ariaCurrentWhenActive="page">ガントチャート</a>
    </h3>
    <h3 class="bg-primary col-md-3">
        <a class="text-white" routerLink="/parent-i-share" [style.curosor]="'pointer'" routerLinkActive="active" 
        ariaCurrentWhenActive="page">情報共有スペース</a>
    </h3>
</div>